#container .name {
  font-weight: 700;
  border-bottom: 1px solid #000000;
  color: red;
}

#container {
  background-color: white;
}

#container .lists li {
  font-weight: 600;
}

#container .lists li:nth-child(2) {
  color: blue;
}
